[Unit]
Description=Fix for suspend: reloads nvidia drivers and restarts ollama container
After=suspend.target
; After=network-online.target systemd-suspend.service systemd-hibernate.service systemd-sleep.service

[Service]
Type=oneshot
User=root
ExecStart=-/usr/local/bin/nvidia-suspend-fix.sh

[Install]
WantedBy=multi-user.target sleep.target suspend.target
